language: cpp
script:
  - mkdir build && cd build
  - cmake -DCMAKE_BUILD_TYPE=Release ../src
  - make
  # run test suite
  - cd .. && mkdir tests_tmp
  - build/asar-dll-test/asar-dll-test build/asar/libasar.so $TRAVIS_BUILD_DIR/tests dummy_rom.sfc $TRAVIS_BUILD_DIR/tests_tmp
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-6
      - g++-6
