version: '{build}'
image: Visual Studio 2015
install:
- cmd: >-
    mkdir build

    cd build

    cmake -G "%CMAKE_TARGET%" ..\src
environment:
  matrix:
    - CMAKE_TARGET: "Visual Studio 14 2015"
      PLATFORM: "Win32"
    - CMAKE_TARGET: "Visual Studio 14 2015 Win64"
      PLATFORM: "x64"
build:
  verbosity: minimal
artifacts:
- path: build\asar\Release\asar-standalone.exe
- path: build\asar\Release\asar.dll
configuration: Release
test_script:
  - cmd: >-
      cd %APPVEYOR_BUILD_FOLDER%

      mkdir tests_tmp_dll

      build\asar-dll-test\Release\asar-dll-test.exe build\asar\Release\asar.dll %APPVEYOR_BUILD_FOLDER%\tests dummy_rom.sfc %APPVEYOR_BUILD_FOLDER%\tests_tmp_dll

      mkdir tests_tmp_app

      build\asar-dll-test\Release\asar-app-test.exe build\asar\Release\asar-standalone.exe %APPVEYOR_BUILD_FOLDER%\tests dummy_rom.sfc %APPVEYOR_BUILD_FOLDER%\tests_tmp_app