1 VERSIONINFO
    FILEVERSION    1,9,1,0
    PRODUCTVERSION 1,9,1,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0" // en-US with UTF-8
        {
            VALUE "CompanyName",        "Asar devs\0"
            VALUE "FileDescription",    "SNES assembler\0"
            // explorer apparently always shows the file version with the numbers, but product version with text?
            VALUE "FileVersion",        "v1.91\0"
            // apparently this is required?
            VALUE "InternalName",       "asar\0"
            VALUE "OriginalFilename",   "asar.dll\0"
            VALUE "ProductName",        "Asar\0"
            VALUE "ProductVersion",     "v1.91\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200 // en-US with UTF-8
    }
}
